.product {
  display: flex;
  border-radius: 6px;
  align-items: center;
  width: 100rem;
  cursor: pointer;
  padding: 0 2rem 0 0;
  background: transparent;
  transition: 0.2s ease;
  font-family: "Roboto", sans-serif;
}

.product:hover {
  background: rgba(0, 0, 0, 0.2);
}

.product .productImage {
  border-radius: 6px;
  width: 10rem;
  height: 10rem;
}

.product .productInfo {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 3rem;

  color: #111;
}

.product .nameAndPrice {
  display: flex;
  justify-content: space-between;
}

.product .productName {
  font-size: 2rem;
}

.product .productPrice {
  font-size: 2rem;
  text-align: end;
}

.product .productPrice h4{
  font-size: 1.4rem;
}

.product .rating {
  display: flex;
  align-items: center;
}

.product .rating i {
  color: #1e65cf;
  font-size: 1.8rem;
  margin-right: 0.3rem;
}

.product .rating .ratingGrade {
  margin-left: .75rem;
  margin-top: .3rem;
}

.product .rating .ratingGrade span {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
