.productPage main {
  display: flex;
  flex-direction: column;
}

.productPage .productSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.productPage main .left img {
  width: 425px;
  height: 425px;
}

.productPage main .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  margin-left: 20rem;
}

.productPage main .right .productInfo {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.productPage main .right .productInfo h2 {
  font-size: 1.75rem;
  text-transform: capitalize;
}

.productPage main .right .productInfo .rating {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.productPage main .right .productInfo .rating i {
  color: #1e65cf;
  font-size: 1.8rem;
  margin-right: 0.3rem;
}

.productPage main .right .productInfo .rating .ratingGrade {
  margin-left: .75rem;
  margin-top: .3rem;
}

.productPage main .right .productInfo .rating .ratingGrade span {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.productPage main .right .productInfo h3 {
  font-size: 3rem;
  margin-top: 1.5rem;
}

.productPage main .right .productInfo h4 {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.productPage main .actions {
  display: flex;
  width: 100%;
  margin-top: 4rem;
  align-items: center;
  flex-direction: column;
}

.productPage main .actions .action {
  width: 100%;
  height: 5.5rem;
  padding: 2rem;
  font-size: 2rem;
  display: flex;
  font-family: "Roboto", sans-serif;
  color: #fff;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
  transition: 0.25s ease;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.productPage main .actions .action:hover {
  filter: brightness(1.3);
}

.productPage main .actions .action.buyButton {
  background: #ff7231;
}

.productPage main .actions .action.cartButton {
  background: #1e65cf;
  margin-top: 2rem;
}

.productPage main .actions .action.buyButton i {
  margin-right: 1.5rem;
}

.productPage main .actions .action.cartButton i {
  margin-right: 1rem;
}

.productPage main .productDescription {
  margin-top: 5rem;
  padding-left: 10rem;
}

.productPage main .productDescription h2 {
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
}

.productPage main .productDescription p {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 1.5rem;
  padding-right: 15rem;
}

.productPage .loadingIcon div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productPage .divisor{
  position: relative;
  margin-top: 5rem;
}

.productPage .divisor::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  height: 1px;
  background: #1e65cf;
}

.productPage .productComments {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.productPage .productComments .commentsTitle{
  align-self: flex-start;
  padding-left: 10rem;
  font-size: 2.2rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 3rem;
}