.searchPage main {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fade .5s ease 1 forwards;
}

.searchPage .title {
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

.searchPage .products {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
}

.searchPage main .no-results {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
}

.searchPage main .productLink {
  margin: 1.5rem 0;
  text-decoration: none;
}

.searchPage main .productLink:first-child {
  margin-top: 0;
}

.searchPage main .productLink:last-child {
  margin-bottom: 0;
}

@keyframes fade {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}